.splash {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    transition: transform .5s;
    overflow-x: hidden;
    overflow-y: scroll;
    &__inner {
        height: 100%;
        margin-bottom: 100vh;
    }
    &--off {
        transform: translateY(-100%);
    }
    &__title {
        font-size: 66px;
        line-height: 1;
        text-align: center;
    }
    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
}