<div class="splash m-hide">
    <div class="splash__inner bg-light x xac xjc">
        <div class="splash__title">
            <span class="text-stroke">work at</span><br>
            stichd
        </div>
        <div class="splash__label s-pad-1 text-s">Scroll down</div>
    </div>
</div>