<div class="splash m-hide">
    <div class="splash__inner bg-light x xac xjc">
        <div class="splash__title">
            {% include 'components/logo/logo-work.svg' %}
            {% include 'components/logo/logo' %}
        </div>
        <div class="splash__label s-pad-1 text-s">Scroll down</div>
    </div>
</div>