* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font: inherit;
  color: inherit; }

html, body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.db {
  display: block; }

.df {
  display: flex; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-RegularItalic.otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Medium.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-MediumItalic.otf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-BoldItalic.otf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Graebenbach";
  src: url("/fonts/Graebenbach-Black.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Graebenbach";
  src: url("/fonts/Graebenbach-BlackItalic.otf");
  font-weight: 700;
  font-style: italic; }

:root {
  --line-height: 1.333;
  --line: calc( var( --line-height ) * 1rem ); }

html {
  font-family: "Graebenbach", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased; }

.text-s {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .03em;
  line-height: 0.63333; }
  @media (min-width: 1024px) {
    .text-s {
      font-size: 16px; } }

.text-m {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -.01em; }

.text-l {
  font-size: 26px;
  line-height: 1.19444;
  letter-spacing: 0; }
  @media (min-width: 1024px) {
    .text-l {
      font-size: 36px; } }

.text-xl {
  font-size: 48px;
  line-height: 1.19444;
  letter-spacing: -.01em; }
  @media (min-width: 1024px) {
    .text-xl {
      font-size: 72px; } }

.text-xxl {
  font-size: 48px;
  line-height: 1;
  letter-spacing: -.03em; }
  @media (min-width: 1024px) {
    .text-xxl {
      font-size: 144px; } }

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color); }
  a .text-stroke {
    transition: -webkit-text-fill-color .1s; }
    a .text-stroke:hover {
      -webkit-text-fill-color: var(--text-color); }

.text-center {
  text-align: center; }

p {
  margin-bottom: calc( var( --line-height ) * 1em); }

.circle:before {
  content: '';
  display: inline-block;
  border: 1px solid var(--text-color);
  align-self: center;
  border-radius: 50%;
  transition: background .1s;
  background: transparent;
  width: 0.8em;
  height: 0.8em;
  margin-bottom: -.1em;
  margin-right: .5em; }

.circle--small:before {
  width: 0.55em;
  height: 0.6em;
  margin-bottom: -.05em;
  margin-right: .5em; }

.circle--small:hover:before {
  background-color: var(--text-color); }

.rule {
  width: 100%;
  border-bottom: 1px solid var(--text-color); }

:root {
  --greige: #E7E3D1;
  --text-color: black;
  --background-color: var( --greige ); }

html {
  color: var(--text-color);
  background-color: var(--background-color); }

.bg-dark {
  --text-color: var( --greige );
  --background-color: black;
  background-color: var(--background-color);
  color: var(--greige); }

.bg-light {
  --text-color: black;
  --background-color: var( --greige );
  background-color: var(--background-color);
  color: var(--text-color); }

.x {
  display: flex; }

.xac {
  align-items: center; }

.xab {
  align-items: baseline; }

.xas {
  align-items: stretch; }

.xafs {
  align-items: flex-start; }

.xafe {
  align-items: flex-end; }

.xdr {
  flex-direction: row; }

.xdrr {
  flex-direction: row-reverse; }

.xdc {
  flex-direction: column; }

.xdcr {
  flex-direction: column-reverse; }

.xjc {
  justify-content: center; }

.xjb {
  justify-content: space-between; }

.xja {
  justify-content: space-around; }

.xjs {
  justify-content: flex-start; }

.xje {
  justify-content: flex-end; }

.xw {
  flex-wrap: wrap; }

.xwr {
  flex-wrap: wrap-reverse; }

.xwn {
  flex-wrap: nowrap; }

.xi {
  flex: initial; }

.xx {
  flex: 1; }

.xa {
  flex: auto; }

.xn {
  flex: none; }

.xo0 {
  order: 0; }

.xo1 {
  order: 1; }

.xo2 {
  order: 2; }

.xo3 {
  order: 3; }

.xo4 {
  order: 4; }

.xot {
  order: -1; }

.xob {
  order: 99; }

:root {
  --gutter: 9px; }
  @media (min-width: 1024px) {
    :root {
      --gutter: 22px; } }
  @media (min-width: 1200px) {
    :root {
      --gutter: 26px; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc( var( --gutter ) / 2);
  padding-right: calc( var( --gutter ) / 2); }
  .grid > [class*="-col-"] {
    padding-left: calc( var( --gutter ) / 2);
    padding-right: calc( var( --gutter ) / 2); }

[class*="-col-"] {
  flex-grow: 0;
  flex-shrink: 0; }

.s-col-1 {
  width: 8.33333%; }

.s-col-2 {
  width: 16.66667%; }

.s-col-3 {
  width: 25%; }

.s-col-4 {
  width: 33.33333%; }

.s-col-5 {
  width: 41.66667%; }

.s-col-6 {
  width: 50%; }

.s-col-7 {
  width: 58.33333%; }

.s-col-8 {
  width: 66.66667%; }

.s-col-9 {
  width: 75%; }

.s-col-10 {
  width: 83.33333%; }

.s-col-11 {
  width: 91.66667%; }

.s-col-12 {
  width: 100%; }

.s-off-0 {
  margin-left: 0%; }

.s-off-1 {
  margin-left: 8.33333%; }

.s-off-2 {
  margin-left: 16.66667%; }

.s-off-3 {
  margin-left: 25%; }

.s-off-4 {
  margin-left: 33.33333%; }

.s-off-5 {
  margin-left: 41.66667%; }

.s-off-6 {
  margin-left: 50%; }

.s-off-7 {
  margin-left: 58.33333%; }

.s-off-8 {
  margin-left: 66.66667%; }

.s-off-9 {
  margin-left: 75%; }

.s-off-10 {
  margin-left: 83.33333%; }

.s-off-11 {
  margin-left: 91.66667%; }

@media (min-width: 768px) {
  .m-col-1 {
    width: 8.33333%; }
  .m-col-2 {
    width: 16.66667%; }
  .m-col-3 {
    width: 25%; }
  .m-col-4 {
    width: 33.33333%; }
  .m-col-5 {
    width: 41.66667%; }
  .m-col-6 {
    width: 50%; }
  .m-col-7 {
    width: 58.33333%; }
  .m-col-8 {
    width: 66.66667%; }
  .m-col-9 {
    width: 75%; }
  .m-col-10 {
    width: 83.33333%; }
  .m-col-11 {
    width: 91.66667%; }
  .m-col-12 {
    width: 100%; }
  .m-off-0 {
    margin-left: 0%; }
  .m-off-1 {
    margin-left: 8.33333%; }
  .m-off-2 {
    margin-left: 16.66667%; }
  .m-off-3 {
    margin-left: 25%; }
  .m-off-4 {
    margin-left: 33.33333%; }
  .m-off-5 {
    margin-left: 41.66667%; }
  .m-off-6 {
    margin-left: 50%; }
  .m-off-7 {
    margin-left: 58.33333%; }
  .m-off-8 {
    margin-left: 66.66667%; }
  .m-off-9 {
    margin-left: 75%; }
  .m-off-10 {
    margin-left: 83.33333%; }
  .m-off-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1024px) {
  .l-col-1 {
    width: 8.33333%; }
  .l-col-2 {
    width: 16.66667%; }
  .l-col-3 {
    width: 25%; }
  .l-col-4 {
    width: 33.33333%; }
  .l-col-5 {
    width: 41.66667%; }
  .l-col-6 {
    width: 50%; }
  .l-col-7 {
    width: 58.33333%; }
  .l-col-8 {
    width: 66.66667%; }
  .l-col-9 {
    width: 75%; }
  .l-col-10 {
    width: 83.33333%; }
  .l-col-11 {
    width: 91.66667%; }
  .l-col-12 {
    width: 100%; }
  .l-off-0 {
    margin-left: 0%; }
  .l-off-1 {
    margin-left: 8.33333%; }
  .l-off-2 {
    margin-left: 16.66667%; }
  .l-off-3 {
    margin-left: 25%; }
  .l-off-4 {
    margin-left: 33.33333%; }
  .l-off-5 {
    margin-left: 41.66667%; }
  .l-off-6 {
    margin-left: 50%; }
  .l-off-7 {
    margin-left: 58.33333%; }
  .l-off-8 {
    margin-left: 66.66667%; }
  .l-off-9 {
    margin-left: 75%; }
  .l-off-10 {
    margin-left: 83.33333%; }
  .l-off-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .xl-col-1 {
    width: 8.33333%; }
  .xl-col-2 {
    width: 16.66667%; }
  .xl-col-3 {
    width: 25%; }
  .xl-col-4 {
    width: 33.33333%; }
  .xl-col-5 {
    width: 41.66667%; }
  .xl-col-6 {
    width: 50%; }
  .xl-col-7 {
    width: 58.33333%; }
  .xl-col-8 {
    width: 66.66667%; }
  .xl-col-9 {
    width: 75%; }
  .xl-col-10 {
    width: 83.33333%; }
  .xl-col-11 {
    width: 91.66667%; }
  .xl-col-12 {
    width: 100%; }
  .xl-off-0 {
    margin-left: 0%; }
  .xl-off-1 {
    margin-left: 8.33333%; }
  .xl-off-2 {
    margin-left: 16.66667%; }
  .xl-off-3 {
    margin-left: 25%; }
  .xl-off-4 {
    margin-left: 33.33333%; }
  .xl-off-5 {
    margin-left: 41.66667%; }
  .xl-off-6 {
    margin-left: 50%; }
  .xl-off-7 {
    margin-left: 58.33333%; }
  .xl-off-8 {
    margin-left: 66.66667%; }
  .xl-off-9 {
    margin-left: 75%; }
  .xl-off-10 {
    margin-left: 83.33333%; }
  .xl-off-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1600px) {
  .xxl-col-1 {
    width: 8.33333%; }
  .xxl-col-2 {
    width: 16.66667%; }
  .xxl-col-3 {
    width: 25%; }
  .xxl-col-4 {
    width: 33.33333%; }
  .xxl-col-5 {
    width: 41.66667%; }
  .xxl-col-6 {
    width: 50%; }
  .xxl-col-7 {
    width: 58.33333%; }
  .xxl-col-8 {
    width: 66.66667%; }
  .xxl-col-9 {
    width: 75%; }
  .xxl-col-10 {
    width: 83.33333%; }
  .xxl-col-11 {
    width: 91.66667%; }
  .xxl-col-12 {
    width: 100%; }
  .xxl-off-0 {
    margin-left: 0%; }
  .xxl-off-1 {
    margin-left: 8.33333%; }
  .xxl-off-2 {
    margin-left: 16.66667%; }
  .xxl-off-3 {
    margin-left: 25%; }
  .xxl-off-4 {
    margin-left: 33.33333%; }
  .xxl-off-5 {
    margin-left: 41.66667%; }
  .xxl-off-6 {
    margin-left: 50%; }
  .xxl-off-7 {
    margin-left: 58.33333%; }
  .xxl-off-8 {
    margin-left: 66.66667%; }
  .xxl-off-9 {
    margin-left: 75%; }
  .xxl-off-10 {
    margin-left: 83.33333%; }
  .xxl-off-11 {
    margin-left: 91.66667%; } }

.col-center {
  align-items: center; }

.col-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end; }

.col-justify {
  justify-content: space-between; }

.col-baseline {
  align-items: baseline; }

.s-pad-half {
  padding: calc( var( --line ) * .5); }

.s-pad-0 {
  padding: calc( var( --line ) * 0); }

.s-pad-1 {
  padding: calc( var( --line ) * 1); }

.s-pad-2 {
  padding: calc( var( --line ) * 2); }

.s-pad-3 {
  padding: calc( var( --line ) * 3); }

.s-pad-4 {
  padding: calc( var( --line ) * 4); }

.s-pad-5 {
  padding: calc( var( --line ) * 5); }

.s-pad-6 {
  padding: calc( var( --line ) * 6); }

.s-pad-top-half {
  padding-top: calc( var( --line ) * .5); }

.s-pad-top-0 {
  padding-top: calc( var( --line ) * 0); }

.s-pad-top-1 {
  padding-top: calc( var( --line ) * 1); }

.s-pad-top-2 {
  padding-top: calc( var( --line ) * 2); }

.s-pad-top-3 {
  padding-top: calc( var( --line ) * 3); }

.s-pad-top-4 {
  padding-top: calc( var( --line ) * 4); }

.s-pad-top-5 {
  padding-top: calc( var( --line ) * 5); }

.s-pad-top-6 {
  padding-top: calc( var( --line ) * 6); }

.s-pad-bottom-half {
  padding-bottom: calc( var( --line ) * .5); }

.s-pad-bottom-0 {
  padding-bottom: calc( var( --line ) * 0); }

.s-pad-bottom-1 {
  padding-bottom: calc( var( --line ) * 1); }

.s-pad-bottom-2 {
  padding-bottom: calc( var( --line ) * 2); }

.s-pad-bottom-3 {
  padding-bottom: calc( var( --line ) * 3); }

.s-pad-bottom-4 {
  padding-bottom: calc( var( --line ) * 4); }

.s-pad-bottom-5 {
  padding-bottom: calc( var( --line ) * 5); }

.s-pad-bottom-6 {
  padding-bottom: calc( var( --line ) * 6); }

.s-pad-left-half {
  padding-left: calc( var( --line ) * .5); }

.s-pad-left-0 {
  padding-left: calc( var( --line ) * 0); }

.s-pad-left-1 {
  padding-left: calc( var( --line ) * 1); }

.s-pad-left-2 {
  padding-left: calc( var( --line ) * 2); }

.s-pad-left-3 {
  padding-left: calc( var( --line ) * 3); }

.s-pad-left-4 {
  padding-left: calc( var( --line ) * 4); }

.s-pad-left-5 {
  padding-left: calc( var( --line ) * 5); }

.s-pad-left-6 {
  padding-left: calc( var( --line ) * 6); }

.s-pad-right-half {
  padding-right: calc( var( --line ) * .5); }

.s-pad-right-0 {
  padding-right: calc( var( --line ) * 0); }

.s-pad-right-1 {
  padding-right: calc( var( --line ) * 1); }

.s-pad-right-2 {
  padding-right: calc( var( --line ) * 2); }

.s-pad-right-3 {
  padding-right: calc( var( --line ) * 3); }

.s-pad-right-4 {
  padding-right: calc( var( --line ) * 4); }

.s-pad-right-5 {
  padding-right: calc( var( --line ) * 5); }

.s-pad-right-6 {
  padding-right: calc( var( --line ) * 6); }

.s-gap-half {
  margin: calc( var( --line ) * .5); }

.s-gap-0 {
  margin: calc( var( --line ) * 0); }

.s-gap-1 {
  margin: calc( var( --line ) * 1); }

.s-gap-2 {
  margin: calc( var( --line ) * 2); }

.s-gap-3 {
  margin: calc( var( --line ) * 3); }

.s-gap-4 {
  margin: calc( var( --line ) * 4); }

.s-gap-5 {
  margin: calc( var( --line ) * 5); }

.s-gap-6 {
  margin: calc( var( --line ) * 6); }

.s-gap-top-half {
  margin-top: calc( var( --line ) * .5); }

.s-gap-top-0 {
  margin-top: calc( var( --line ) * 0); }

.s-gap-top-1 {
  margin-top: calc( var( --line ) * 1); }

.s-gap-top-2 {
  margin-top: calc( var( --line ) * 2); }

.s-gap-top-3 {
  margin-top: calc( var( --line ) * 3); }

.s-gap-top-4 {
  margin-top: calc( var( --line ) * 4); }

.s-gap-top-5 {
  margin-top: calc( var( --line ) * 5); }

.s-gap-top-6 {
  margin-top: calc( var( --line ) * 6); }

.s-gap-bottom-half {
  margin-bottom: calc( var( --line ) * .5); }

.s-gap-bottom-0 {
  margin-bottom: calc( var( --line ) * 0); }

.s-gap-bottom-1 {
  margin-bottom: calc( var( --line ) * 1); }

.s-gap-bottom-2 {
  margin-bottom: calc( var( --line ) * 2); }

.s-gap-bottom-3 {
  margin-bottom: calc( var( --line ) * 3); }

.s-gap-bottom-4 {
  margin-bottom: calc( var( --line ) * 4); }

.s-gap-bottom-5 {
  margin-bottom: calc( var( --line ) * 5); }

.s-gap-bottom-6 {
  margin-bottom: calc( var( --line ) * 6); }

.s-gap-left-half {
  margin-left: calc( var( --line ) * .5); }

.s-gap-left-0 {
  margin-left: calc( var( --line ) * 0); }

.s-gap-left-1 {
  margin-left: calc( var( --line ) * 1); }

.s-gap-left-2 {
  margin-left: calc( var( --line ) * 2); }

.s-gap-left-3 {
  margin-left: calc( var( --line ) * 3); }

.s-gap-left-4 {
  margin-left: calc( var( --line ) * 4); }

.s-gap-left-5 {
  margin-left: calc( var( --line ) * 5); }

.s-gap-left-6 {
  margin-left: calc( var( --line ) * 6); }

.s-gap-right-half {
  margin-right: calc( var( --line ) * .5); }

.s-gap-right-0 {
  margin-right: calc( var( --line ) * 0); }

.s-gap-right-1 {
  margin-right: calc( var( --line ) * 1); }

.s-gap-right-2 {
  margin-right: calc( var( --line ) * 2); }

.s-gap-right-3 {
  margin-right: calc( var( --line ) * 3); }

.s-gap-right-4 {
  margin-right: calc( var( --line ) * 4); }

.s-gap-right-5 {
  margin-right: calc( var( --line ) * 5); }

.s-gap-right-6 {
  margin-right: calc( var( --line ) * 6); }

@media (min-width: 768px) {
  .m-pad-half {
    padding: calc( var( --line ) * .5); }
  .m-pad-0 {
    padding: calc( var( --line ) * 0); }
  .m-pad-1 {
    padding: calc( var( --line ) * 1); }
  .m-pad-2 {
    padding: calc( var( --line ) * 2); }
  .m-pad-3 {
    padding: calc( var( --line ) * 3); }
  .m-pad-4 {
    padding: calc( var( --line ) * 4); }
  .m-pad-5 {
    padding: calc( var( --line ) * 5); }
  .m-pad-6 {
    padding: calc( var( --line ) * 6); }
  .m-pad-top-half {
    padding-top: calc( var( --line ) * .5); }
  .m-pad-top-0 {
    padding-top: calc( var( --line ) * 0); }
  .m-pad-top-1 {
    padding-top: calc( var( --line ) * 1); }
  .m-pad-top-2 {
    padding-top: calc( var( --line ) * 2); }
  .m-pad-top-3 {
    padding-top: calc( var( --line ) * 3); }
  .m-pad-top-4 {
    padding-top: calc( var( --line ) * 4); }
  .m-pad-top-5 {
    padding-top: calc( var( --line ) * 5); }
  .m-pad-top-6 {
    padding-top: calc( var( --line ) * 6); }
  .m-pad-bottom-half {
    padding-bottom: calc( var( --line ) * .5); }
  .m-pad-bottom-0 {
    padding-bottom: calc( var( --line ) * 0); }
  .m-pad-bottom-1 {
    padding-bottom: calc( var( --line ) * 1); }
  .m-pad-bottom-2 {
    padding-bottom: calc( var( --line ) * 2); }
  .m-pad-bottom-3 {
    padding-bottom: calc( var( --line ) * 3); }
  .m-pad-bottom-4 {
    padding-bottom: calc( var( --line ) * 4); }
  .m-pad-bottom-5 {
    padding-bottom: calc( var( --line ) * 5); }
  .m-pad-bottom-6 {
    padding-bottom: calc( var( --line ) * 6); }
  .m-pad-left-half {
    padding-left: calc( var( --line ) * .5); }
  .m-pad-left-0 {
    padding-left: calc( var( --line ) * 0); }
  .m-pad-left-1 {
    padding-left: calc( var( --line ) * 1); }
  .m-pad-left-2 {
    padding-left: calc( var( --line ) * 2); }
  .m-pad-left-3 {
    padding-left: calc( var( --line ) * 3); }
  .m-pad-left-4 {
    padding-left: calc( var( --line ) * 4); }
  .m-pad-left-5 {
    padding-left: calc( var( --line ) * 5); }
  .m-pad-left-6 {
    padding-left: calc( var( --line ) * 6); }
  .m-pad-right-half {
    padding-right: calc( var( --line ) * .5); }
  .m-pad-right-0 {
    padding-right: calc( var( --line ) * 0); }
  .m-pad-right-1 {
    padding-right: calc( var( --line ) * 1); }
  .m-pad-right-2 {
    padding-right: calc( var( --line ) * 2); }
  .m-pad-right-3 {
    padding-right: calc( var( --line ) * 3); }
  .m-pad-right-4 {
    padding-right: calc( var( --line ) * 4); }
  .m-pad-right-5 {
    padding-right: calc( var( --line ) * 5); }
  .m-pad-right-6 {
    padding-right: calc( var( --line ) * 6); }
  .m-gap-half {
    margin: calc( var( --line ) * .5); }
  .m-gap-0 {
    margin: calc( var( --line ) * 0); }
  .m-gap-1 {
    margin: calc( var( --line ) * 1); }
  .m-gap-2 {
    margin: calc( var( --line ) * 2); }
  .m-gap-3 {
    margin: calc( var( --line ) * 3); }
  .m-gap-4 {
    margin: calc( var( --line ) * 4); }
  .m-gap-5 {
    margin: calc( var( --line ) * 5); }
  .m-gap-6 {
    margin: calc( var( --line ) * 6); }
  .m-gap-top-half {
    margin-top: calc( var( --line ) * .5); }
  .m-gap-top-0 {
    margin-top: calc( var( --line ) * 0); }
  .m-gap-top-1 {
    margin-top: calc( var( --line ) * 1); }
  .m-gap-top-2 {
    margin-top: calc( var( --line ) * 2); }
  .m-gap-top-3 {
    margin-top: calc( var( --line ) * 3); }
  .m-gap-top-4 {
    margin-top: calc( var( --line ) * 4); }
  .m-gap-top-5 {
    margin-top: calc( var( --line ) * 5); }
  .m-gap-top-6 {
    margin-top: calc( var( --line ) * 6); }
  .m-gap-bottom-half {
    margin-bottom: calc( var( --line ) * .5); }
  .m-gap-bottom-0 {
    margin-bottom: calc( var( --line ) * 0); }
  .m-gap-bottom-1 {
    margin-bottom: calc( var( --line ) * 1); }
  .m-gap-bottom-2 {
    margin-bottom: calc( var( --line ) * 2); }
  .m-gap-bottom-3 {
    margin-bottom: calc( var( --line ) * 3); }
  .m-gap-bottom-4 {
    margin-bottom: calc( var( --line ) * 4); }
  .m-gap-bottom-5 {
    margin-bottom: calc( var( --line ) * 5); }
  .m-gap-bottom-6 {
    margin-bottom: calc( var( --line ) * 6); }
  .m-gap-left-half {
    margin-left: calc( var( --line ) * .5); }
  .m-gap-left-0 {
    margin-left: calc( var( --line ) * 0); }
  .m-gap-left-1 {
    margin-left: calc( var( --line ) * 1); }
  .m-gap-left-2 {
    margin-left: calc( var( --line ) * 2); }
  .m-gap-left-3 {
    margin-left: calc( var( --line ) * 3); }
  .m-gap-left-4 {
    margin-left: calc( var( --line ) * 4); }
  .m-gap-left-5 {
    margin-left: calc( var( --line ) * 5); }
  .m-gap-left-6 {
    margin-left: calc( var( --line ) * 6); }
  .m-gap-right-half {
    margin-right: calc( var( --line ) * .5); }
  .m-gap-right-0 {
    margin-right: calc( var( --line ) * 0); }
  .m-gap-right-1 {
    margin-right: calc( var( --line ) * 1); }
  .m-gap-right-2 {
    margin-right: calc( var( --line ) * 2); }
  .m-gap-right-3 {
    margin-right: calc( var( --line ) * 3); }
  .m-gap-right-4 {
    margin-right: calc( var( --line ) * 4); }
  .m-gap-right-5 {
    margin-right: calc( var( --line ) * 5); }
  .m-gap-right-6 {
    margin-right: calc( var( --line ) * 6); } }

@media (min-width: 1024px) {
  .l-pad-half {
    padding: calc( var( --line ) * .5); }
  .l-pad-0 {
    padding: calc( var( --line ) * 0); }
  .l-pad-1 {
    padding: calc( var( --line ) * 1); }
  .l-pad-2 {
    padding: calc( var( --line ) * 2); }
  .l-pad-3 {
    padding: calc( var( --line ) * 3); }
  .l-pad-4 {
    padding: calc( var( --line ) * 4); }
  .l-pad-5 {
    padding: calc( var( --line ) * 5); }
  .l-pad-6 {
    padding: calc( var( --line ) * 6); }
  .l-pad-top-half {
    padding-top: calc( var( --line ) * .5); }
  .l-pad-top-0 {
    padding-top: calc( var( --line ) * 0); }
  .l-pad-top-1 {
    padding-top: calc( var( --line ) * 1); }
  .l-pad-top-2 {
    padding-top: calc( var( --line ) * 2); }
  .l-pad-top-3 {
    padding-top: calc( var( --line ) * 3); }
  .l-pad-top-4 {
    padding-top: calc( var( --line ) * 4); }
  .l-pad-top-5 {
    padding-top: calc( var( --line ) * 5); }
  .l-pad-top-6 {
    padding-top: calc( var( --line ) * 6); }
  .l-pad-bottom-half {
    padding-bottom: calc( var( --line ) * .5); }
  .l-pad-bottom-0 {
    padding-bottom: calc( var( --line ) * 0); }
  .l-pad-bottom-1 {
    padding-bottom: calc( var( --line ) * 1); }
  .l-pad-bottom-2 {
    padding-bottom: calc( var( --line ) * 2); }
  .l-pad-bottom-3 {
    padding-bottom: calc( var( --line ) * 3); }
  .l-pad-bottom-4 {
    padding-bottom: calc( var( --line ) * 4); }
  .l-pad-bottom-5 {
    padding-bottom: calc( var( --line ) * 5); }
  .l-pad-bottom-6 {
    padding-bottom: calc( var( --line ) * 6); }
  .l-pad-left-half {
    padding-left: calc( var( --line ) * .5); }
  .l-pad-left-0 {
    padding-left: calc( var( --line ) * 0); }
  .l-pad-left-1 {
    padding-left: calc( var( --line ) * 1); }
  .l-pad-left-2 {
    padding-left: calc( var( --line ) * 2); }
  .l-pad-left-3 {
    padding-left: calc( var( --line ) * 3); }
  .l-pad-left-4 {
    padding-left: calc( var( --line ) * 4); }
  .l-pad-left-5 {
    padding-left: calc( var( --line ) * 5); }
  .l-pad-left-6 {
    padding-left: calc( var( --line ) * 6); }
  .l-pad-right-half {
    padding-right: calc( var( --line ) * .5); }
  .l-pad-right-0 {
    padding-right: calc( var( --line ) * 0); }
  .l-pad-right-1 {
    padding-right: calc( var( --line ) * 1); }
  .l-pad-right-2 {
    padding-right: calc( var( --line ) * 2); }
  .l-pad-right-3 {
    padding-right: calc( var( --line ) * 3); }
  .l-pad-right-4 {
    padding-right: calc( var( --line ) * 4); }
  .l-pad-right-5 {
    padding-right: calc( var( --line ) * 5); }
  .l-pad-right-6 {
    padding-right: calc( var( --line ) * 6); }
  .l-gap-half {
    margin: calc( var( --line ) * .5); }
  .l-gap-0 {
    margin: calc( var( --line ) * 0); }
  .l-gap-1 {
    margin: calc( var( --line ) * 1); }
  .l-gap-2 {
    margin: calc( var( --line ) * 2); }
  .l-gap-3 {
    margin: calc( var( --line ) * 3); }
  .l-gap-4 {
    margin: calc( var( --line ) * 4); }
  .l-gap-5 {
    margin: calc( var( --line ) * 5); }
  .l-gap-6 {
    margin: calc( var( --line ) * 6); }
  .l-gap-top-half {
    margin-top: calc( var( --line ) * .5); }
  .l-gap-top-0 {
    margin-top: calc( var( --line ) * 0); }
  .l-gap-top-1 {
    margin-top: calc( var( --line ) * 1); }
  .l-gap-top-2 {
    margin-top: calc( var( --line ) * 2); }
  .l-gap-top-3 {
    margin-top: calc( var( --line ) * 3); }
  .l-gap-top-4 {
    margin-top: calc( var( --line ) * 4); }
  .l-gap-top-5 {
    margin-top: calc( var( --line ) * 5); }
  .l-gap-top-6 {
    margin-top: calc( var( --line ) * 6); }
  .l-gap-bottom-half {
    margin-bottom: calc( var( --line ) * .5); }
  .l-gap-bottom-0 {
    margin-bottom: calc( var( --line ) * 0); }
  .l-gap-bottom-1 {
    margin-bottom: calc( var( --line ) * 1); }
  .l-gap-bottom-2 {
    margin-bottom: calc( var( --line ) * 2); }
  .l-gap-bottom-3 {
    margin-bottom: calc( var( --line ) * 3); }
  .l-gap-bottom-4 {
    margin-bottom: calc( var( --line ) * 4); }
  .l-gap-bottom-5 {
    margin-bottom: calc( var( --line ) * 5); }
  .l-gap-bottom-6 {
    margin-bottom: calc( var( --line ) * 6); }
  .l-gap-left-half {
    margin-left: calc( var( --line ) * .5); }
  .l-gap-left-0 {
    margin-left: calc( var( --line ) * 0); }
  .l-gap-left-1 {
    margin-left: calc( var( --line ) * 1); }
  .l-gap-left-2 {
    margin-left: calc( var( --line ) * 2); }
  .l-gap-left-3 {
    margin-left: calc( var( --line ) * 3); }
  .l-gap-left-4 {
    margin-left: calc( var( --line ) * 4); }
  .l-gap-left-5 {
    margin-left: calc( var( --line ) * 5); }
  .l-gap-left-6 {
    margin-left: calc( var( --line ) * 6); }
  .l-gap-right-half {
    margin-right: calc( var( --line ) * .5); }
  .l-gap-right-0 {
    margin-right: calc( var( --line ) * 0); }
  .l-gap-right-1 {
    margin-right: calc( var( --line ) * 1); }
  .l-gap-right-2 {
    margin-right: calc( var( --line ) * 2); }
  .l-gap-right-3 {
    margin-right: calc( var( --line ) * 3); }
  .l-gap-right-4 {
    margin-right: calc( var( --line ) * 4); }
  .l-gap-right-5 {
    margin-right: calc( var( --line ) * 5); }
  .l-gap-right-6 {
    margin-right: calc( var( --line ) * 6); } }

@media (min-width: 1200px) {
  .xl-pad-half {
    padding: calc( var( --line ) * .5); }
  .xl-pad-0 {
    padding: calc( var( --line ) * 0); }
  .xl-pad-1 {
    padding: calc( var( --line ) * 1); }
  .xl-pad-2 {
    padding: calc( var( --line ) * 2); }
  .xl-pad-3 {
    padding: calc( var( --line ) * 3); }
  .xl-pad-4 {
    padding: calc( var( --line ) * 4); }
  .xl-pad-5 {
    padding: calc( var( --line ) * 5); }
  .xl-pad-6 {
    padding: calc( var( --line ) * 6); }
  .xl-pad-top-half {
    padding-top: calc( var( --line ) * .5); }
  .xl-pad-top-0 {
    padding-top: calc( var( --line ) * 0); }
  .xl-pad-top-1 {
    padding-top: calc( var( --line ) * 1); }
  .xl-pad-top-2 {
    padding-top: calc( var( --line ) * 2); }
  .xl-pad-top-3 {
    padding-top: calc( var( --line ) * 3); }
  .xl-pad-top-4 {
    padding-top: calc( var( --line ) * 4); }
  .xl-pad-top-5 {
    padding-top: calc( var( --line ) * 5); }
  .xl-pad-top-6 {
    padding-top: calc( var( --line ) * 6); }
  .xl-pad-bottom-half {
    padding-bottom: calc( var( --line ) * .5); }
  .xl-pad-bottom-0 {
    padding-bottom: calc( var( --line ) * 0); }
  .xl-pad-bottom-1 {
    padding-bottom: calc( var( --line ) * 1); }
  .xl-pad-bottom-2 {
    padding-bottom: calc( var( --line ) * 2); }
  .xl-pad-bottom-3 {
    padding-bottom: calc( var( --line ) * 3); }
  .xl-pad-bottom-4 {
    padding-bottom: calc( var( --line ) * 4); }
  .xl-pad-bottom-5 {
    padding-bottom: calc( var( --line ) * 5); }
  .xl-pad-bottom-6 {
    padding-bottom: calc( var( --line ) * 6); }
  .xl-pad-left-half {
    padding-left: calc( var( --line ) * .5); }
  .xl-pad-left-0 {
    padding-left: calc( var( --line ) * 0); }
  .xl-pad-left-1 {
    padding-left: calc( var( --line ) * 1); }
  .xl-pad-left-2 {
    padding-left: calc( var( --line ) * 2); }
  .xl-pad-left-3 {
    padding-left: calc( var( --line ) * 3); }
  .xl-pad-left-4 {
    padding-left: calc( var( --line ) * 4); }
  .xl-pad-left-5 {
    padding-left: calc( var( --line ) * 5); }
  .xl-pad-left-6 {
    padding-left: calc( var( --line ) * 6); }
  .xl-pad-right-half {
    padding-right: calc( var( --line ) * .5); }
  .xl-pad-right-0 {
    padding-right: calc( var( --line ) * 0); }
  .xl-pad-right-1 {
    padding-right: calc( var( --line ) * 1); }
  .xl-pad-right-2 {
    padding-right: calc( var( --line ) * 2); }
  .xl-pad-right-3 {
    padding-right: calc( var( --line ) * 3); }
  .xl-pad-right-4 {
    padding-right: calc( var( --line ) * 4); }
  .xl-pad-right-5 {
    padding-right: calc( var( --line ) * 5); }
  .xl-pad-right-6 {
    padding-right: calc( var( --line ) * 6); }
  .xl-gap-half {
    margin: calc( var( --line ) * .5); }
  .xl-gap-0 {
    margin: calc( var( --line ) * 0); }
  .xl-gap-1 {
    margin: calc( var( --line ) * 1); }
  .xl-gap-2 {
    margin: calc( var( --line ) * 2); }
  .xl-gap-3 {
    margin: calc( var( --line ) * 3); }
  .xl-gap-4 {
    margin: calc( var( --line ) * 4); }
  .xl-gap-5 {
    margin: calc( var( --line ) * 5); }
  .xl-gap-6 {
    margin: calc( var( --line ) * 6); }
  .xl-gap-top-half {
    margin-top: calc( var( --line ) * .5); }
  .xl-gap-top-0 {
    margin-top: calc( var( --line ) * 0); }
  .xl-gap-top-1 {
    margin-top: calc( var( --line ) * 1); }
  .xl-gap-top-2 {
    margin-top: calc( var( --line ) * 2); }
  .xl-gap-top-3 {
    margin-top: calc( var( --line ) * 3); }
  .xl-gap-top-4 {
    margin-top: calc( var( --line ) * 4); }
  .xl-gap-top-5 {
    margin-top: calc( var( --line ) * 5); }
  .xl-gap-top-6 {
    margin-top: calc( var( --line ) * 6); }
  .xl-gap-bottom-half {
    margin-bottom: calc( var( --line ) * .5); }
  .xl-gap-bottom-0 {
    margin-bottom: calc( var( --line ) * 0); }
  .xl-gap-bottom-1 {
    margin-bottom: calc( var( --line ) * 1); }
  .xl-gap-bottom-2 {
    margin-bottom: calc( var( --line ) * 2); }
  .xl-gap-bottom-3 {
    margin-bottom: calc( var( --line ) * 3); }
  .xl-gap-bottom-4 {
    margin-bottom: calc( var( --line ) * 4); }
  .xl-gap-bottom-5 {
    margin-bottom: calc( var( --line ) * 5); }
  .xl-gap-bottom-6 {
    margin-bottom: calc( var( --line ) * 6); }
  .xl-gap-left-half {
    margin-left: calc( var( --line ) * .5); }
  .xl-gap-left-0 {
    margin-left: calc( var( --line ) * 0); }
  .xl-gap-left-1 {
    margin-left: calc( var( --line ) * 1); }
  .xl-gap-left-2 {
    margin-left: calc( var( --line ) * 2); }
  .xl-gap-left-3 {
    margin-left: calc( var( --line ) * 3); }
  .xl-gap-left-4 {
    margin-left: calc( var( --line ) * 4); }
  .xl-gap-left-5 {
    margin-left: calc( var( --line ) * 5); }
  .xl-gap-left-6 {
    margin-left: calc( var( --line ) * 6); }
  .xl-gap-right-half {
    margin-right: calc( var( --line ) * .5); }
  .xl-gap-right-0 {
    margin-right: calc( var( --line ) * 0); }
  .xl-gap-right-1 {
    margin-right: calc( var( --line ) * 1); }
  .xl-gap-right-2 {
    margin-right: calc( var( --line ) * 2); }
  .xl-gap-right-3 {
    margin-right: calc( var( --line ) * 3); }
  .xl-gap-right-4 {
    margin-right: calc( var( --line ) * 4); }
  .xl-gap-right-5 {
    margin-right: calc( var( --line ) * 5); }
  .xl-gap-right-6 {
    margin-right: calc( var( --line ) * 6); } }

@media (min-width: 1600px) {
  .xxl-pad-half {
    padding: calc( var( --line ) * .5); }
  .xxl-pad-0 {
    padding: calc( var( --line ) * 0); }
  .xxl-pad-1 {
    padding: calc( var( --line ) * 1); }
  .xxl-pad-2 {
    padding: calc( var( --line ) * 2); }
  .xxl-pad-3 {
    padding: calc( var( --line ) * 3); }
  .xxl-pad-4 {
    padding: calc( var( --line ) * 4); }
  .xxl-pad-5 {
    padding: calc( var( --line ) * 5); }
  .xxl-pad-6 {
    padding: calc( var( --line ) * 6); }
  .xxl-pad-top-half {
    padding-top: calc( var( --line ) * .5); }
  .xxl-pad-top-0 {
    padding-top: calc( var( --line ) * 0); }
  .xxl-pad-top-1 {
    padding-top: calc( var( --line ) * 1); }
  .xxl-pad-top-2 {
    padding-top: calc( var( --line ) * 2); }
  .xxl-pad-top-3 {
    padding-top: calc( var( --line ) * 3); }
  .xxl-pad-top-4 {
    padding-top: calc( var( --line ) * 4); }
  .xxl-pad-top-5 {
    padding-top: calc( var( --line ) * 5); }
  .xxl-pad-top-6 {
    padding-top: calc( var( --line ) * 6); }
  .xxl-pad-bottom-half {
    padding-bottom: calc( var( --line ) * .5); }
  .xxl-pad-bottom-0 {
    padding-bottom: calc( var( --line ) * 0); }
  .xxl-pad-bottom-1 {
    padding-bottom: calc( var( --line ) * 1); }
  .xxl-pad-bottom-2 {
    padding-bottom: calc( var( --line ) * 2); }
  .xxl-pad-bottom-3 {
    padding-bottom: calc( var( --line ) * 3); }
  .xxl-pad-bottom-4 {
    padding-bottom: calc( var( --line ) * 4); }
  .xxl-pad-bottom-5 {
    padding-bottom: calc( var( --line ) * 5); }
  .xxl-pad-bottom-6 {
    padding-bottom: calc( var( --line ) * 6); }
  .xxl-pad-left-half {
    padding-left: calc( var( --line ) * .5); }
  .xxl-pad-left-0 {
    padding-left: calc( var( --line ) * 0); }
  .xxl-pad-left-1 {
    padding-left: calc( var( --line ) * 1); }
  .xxl-pad-left-2 {
    padding-left: calc( var( --line ) * 2); }
  .xxl-pad-left-3 {
    padding-left: calc( var( --line ) * 3); }
  .xxl-pad-left-4 {
    padding-left: calc( var( --line ) * 4); }
  .xxl-pad-left-5 {
    padding-left: calc( var( --line ) * 5); }
  .xxl-pad-left-6 {
    padding-left: calc( var( --line ) * 6); }
  .xxl-pad-right-half {
    padding-right: calc( var( --line ) * .5); }
  .xxl-pad-right-0 {
    padding-right: calc( var( --line ) * 0); }
  .xxl-pad-right-1 {
    padding-right: calc( var( --line ) * 1); }
  .xxl-pad-right-2 {
    padding-right: calc( var( --line ) * 2); }
  .xxl-pad-right-3 {
    padding-right: calc( var( --line ) * 3); }
  .xxl-pad-right-4 {
    padding-right: calc( var( --line ) * 4); }
  .xxl-pad-right-5 {
    padding-right: calc( var( --line ) * 5); }
  .xxl-pad-right-6 {
    padding-right: calc( var( --line ) * 6); }
  .xxl-gap-half {
    margin: calc( var( --line ) * .5); }
  .xxl-gap-0 {
    margin: calc( var( --line ) * 0); }
  .xxl-gap-1 {
    margin: calc( var( --line ) * 1); }
  .xxl-gap-2 {
    margin: calc( var( --line ) * 2); }
  .xxl-gap-3 {
    margin: calc( var( --line ) * 3); }
  .xxl-gap-4 {
    margin: calc( var( --line ) * 4); }
  .xxl-gap-5 {
    margin: calc( var( --line ) * 5); }
  .xxl-gap-6 {
    margin: calc( var( --line ) * 6); }
  .xxl-gap-top-half {
    margin-top: calc( var( --line ) * .5); }
  .xxl-gap-top-0 {
    margin-top: calc( var( --line ) * 0); }
  .xxl-gap-top-1 {
    margin-top: calc( var( --line ) * 1); }
  .xxl-gap-top-2 {
    margin-top: calc( var( --line ) * 2); }
  .xxl-gap-top-3 {
    margin-top: calc( var( --line ) * 3); }
  .xxl-gap-top-4 {
    margin-top: calc( var( --line ) * 4); }
  .xxl-gap-top-5 {
    margin-top: calc( var( --line ) * 5); }
  .xxl-gap-top-6 {
    margin-top: calc( var( --line ) * 6); }
  .xxl-gap-bottom-half {
    margin-bottom: calc( var( --line ) * .5); }
  .xxl-gap-bottom-0 {
    margin-bottom: calc( var( --line ) * 0); }
  .xxl-gap-bottom-1 {
    margin-bottom: calc( var( --line ) * 1); }
  .xxl-gap-bottom-2 {
    margin-bottom: calc( var( --line ) * 2); }
  .xxl-gap-bottom-3 {
    margin-bottom: calc( var( --line ) * 3); }
  .xxl-gap-bottom-4 {
    margin-bottom: calc( var( --line ) * 4); }
  .xxl-gap-bottom-5 {
    margin-bottom: calc( var( --line ) * 5); }
  .xxl-gap-bottom-6 {
    margin-bottom: calc( var( --line ) * 6); }
  .xxl-gap-left-half {
    margin-left: calc( var( --line ) * .5); }
  .xxl-gap-left-0 {
    margin-left: calc( var( --line ) * 0); }
  .xxl-gap-left-1 {
    margin-left: calc( var( --line ) * 1); }
  .xxl-gap-left-2 {
    margin-left: calc( var( --line ) * 2); }
  .xxl-gap-left-3 {
    margin-left: calc( var( --line ) * 3); }
  .xxl-gap-left-4 {
    margin-left: calc( var( --line ) * 4); }
  .xxl-gap-left-5 {
    margin-left: calc( var( --line ) * 5); }
  .xxl-gap-left-6 {
    margin-left: calc( var( --line ) * 6); }
  .xxl-gap-right-half {
    margin-right: calc( var( --line ) * .5); }
  .xxl-gap-right-0 {
    margin-right: calc( var( --line ) * 0); }
  .xxl-gap-right-1 {
    margin-right: calc( var( --line ) * 1); }
  .xxl-gap-right-2 {
    margin-right: calc( var( --line ) * 2); }
  .xxl-gap-right-3 {
    margin-right: calc( var( --line ) * 3); }
  .xxl-gap-right-4 {
    margin-right: calc( var( --line ) * 4); }
  .xxl-gap-right-5 {
    margin-right: calc( var( --line ) * 5); }
  .xxl-gap-right-6 {
    margin-right: calc( var( --line ) * 6); } }

.border-bottom {
  border-bottom: 1px solid var(--text-color); }

.border-top {
  border-top: 1px solid var(--text-color); }

.s-hide {
  display: none; }

.s-show {
  display: initial; }

@media (min-width: 768px) {
  .m-hide {
    display: none; }
  .m-show {
    display: initial; } }

@media (min-width: 1024px) {
  .l-hide {
    display: none; }
  .l-show {
    display: initial; } }

@media (min-width: 1200px) {
  .xl-hide {
    display: none; }
  .xl-show {
    display: initial; } }

@media (min-width: 1600px) {
  .xxl-hide {
    display: none; }
  .xxl-show {
    display: initial; } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  pointer-events: none; }
  .nav__header {
    pointer-events: visible;
    z-index: 1100; }
    .nav--complex .nav__header {
      width: var(--panel-width); }
  .nav__menu {
    flex-grow: 1;
    transform: translateY(-100%);
    transition: transform .2s;
    overflow-x: hidden;
    overflow-y: scroll; }
    .nav--menu-open .nav__menu {
      transform: none;
      pointer-events: visible; }

.magnifier {
  --radius: 10vw; }
  .magnifier__image {
    position: absolute;
    top: calc( var( --radius ) * -1);
    left: calc( var( --radius ) * -1);
    width: calc( 100% + var( --radius ) * 2);
    height: calc( 100% + var( --radius ) * 2);
    object-fit: cover;
    pointer-events: none;
    clip-path: circle(var(--radius) at calc( var( --radius ) + var( --cx, 50% )) calc( var( --radius ) + var( --cy, 50% )));
    transition: opacity .1s;
    opacity: 0; }
    .magnifier:hover .magnifier__image {
      opacity: 1; }

.video {
  width: 100%;
  padding-bottom: 56.25%; }
  .video__iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%; }
  .video__cover {
    position: absolute;
    width: 100%;
    height: 100%; }
    .video__cover div {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%; }
    .video__cover svg {
      position: absolute;
      z-index: 11;
      width: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      @media (min-width: 768px) {
        .video__cover svg {
          width: 25%; } }

.button {
  display: inline-flex;
  align-items: center;
  border-radius: 100vw;
  border: 2px solid var(--text-color);
  padding: .4em .6em;
  background: transparent;
  transition: background-color .1s, color .1s, border-color .1s;
  line-height: 1;
  cursor: pointer; }
  .button svg {
    width: .75em; }
    @media (min-width: 1024px) {
      .button svg {
        width: auto; } }
  .button svg path {
    transition: fill .1s;
    fill: var(--text-color); }
  .button__label {
    top: .05em; }
  .button__label + svg {
    margin-left: .25em; }
    @media (min-width: 1024px) {
      .button__label + svg {
        margin-left: .5em; } }
    @media (min-width: 1024px) {
      .button__label + svg {
        margin-left: .4em; } }
  .button:hover, a:hover .button, .button--pressed {
    background: var(--text-color);
    color: var(--background-color); }
    .button:hover svg path, a:hover .button svg path, .button--pressed svg path {
      fill: var(--background-color); }

.contact {
  transition: height .2s, background-color .2s;
  overflow: hidden; }
  .contact__extra {
    display: none;
    opacity: 0;
    transition: opacity .2s; }
  .contact__arrow {
    fill: var(--text-color);
    position: absolute;
    left: calc( var( --line ) * .5 - var( --gutter ) * .5);
    height: .7em;
    width: var(--line); }
    .contact__arrow svg {
      width: 100%;
      height: 100%; }

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .02em;
  justify-content: space-between; }
  @media (min-width: 1024px) {
    .footer {
      font-size: 16px; } }
  .footer__links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: calc( var( --gutter ) / 2);
    padding-left: calc( var( --gutter ) / 2); }
    @media (min-width: 768px) {
      .footer__links {
        justify-content: space-between; } }
  .footer__item {
    line-height: 1;
    width: 50%;
    padding-right: calc( var( --gutter ) / 2);
    padding-left: calc( var( --gutter ) / 2);
    padding-top: 1em;
    padding-bottom: 1em; }
    @media (min-width: 768px) {
      .footer__item {
        padding-top: 0;
        padding-bottom: 0;
        width: auto; } }
    .footer__item--link:after {
      content: '';
      display: block;
      position: absolute;
      right: calc( var( --gutter ) / 2);
      left: calc( var( --gutter ) / 2);
      bottom: 0;
      border-bottom: 1px solid var(--text-color); }
      @media (min-width: 768px) {
        .footer__item--link:after {
          display: none; } }
    @media (min-width: 768px) {
      .footer__item--dummy {
        display: none; } }
  .footer__text {
    padding-right: var(--gutter);
    padding-left: var(--gutter); }

:root {
  --header-height: calc( var( --icon-size ) + var( --gutter ) * 3 );
  --header-height-compact: calc( var( --icon-size ) + var( --gutter ) * 2 );
  --icon-size: 25px; }
  @media (min-width: 768px) {
    :root {
      --header-height: calc( var( --icon-size ) + var( --gutter ) * 2 );
      --icon-size: 48px; } }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: calc( var( --gutter )) calc( var( --gutter ) * 1.5);
  height: var(--header-height);
  overflow: hidden; }
  @media (min-width: 768px) {
    .header {
      padding: 0 calc( var( --gutter ) * .5); } }
  @media (max-width: 767px) {
    .header__logo {
      order: 2; }
    .header--toggle-right .header__icon--toggle-right {
      order: 3; }
    .header--toggle-right .header__icon--menu {
      order: 1; }
    .header--toggle-left .header__icon--toggle-left {
      order: 1; }
    .header--toggle-left .header__icon--menu {
      order: 3; }
    .header .header__icon--blank {
      order: 3; } }
  .header__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 calc( var(--gutter) / 2);
    cursor: pointer; }
    .header__icon[data-toggle-panels] {
      transition: transform .2s;
      transform-origin: 50% 50%; }
      .panels__header--inactive .header__icon[data-toggle-panels] {
        transform: rotate(180deg); }
  .bg-dark .header svg *[fill="#000"] {
    fill: var(--greige); }
  .bg-dark .header svg *[stroke="#000"] {
    stroke: var(--greige); }
  .header__logo {
    flex-grow: 1;
    margin: 0 calc( var(--gutter) / 2);
    text-align: center; }
    @media (min-width: 768px) {
      .header__logo {
        text-align: left; } }

.header-compact {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--gutter);
  height: var(--header-height-compact);
  overflow: hidden; }
  .header-compact__icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size); }
    .header-compact__icon span {
      line-height: 1;
      display: none;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 1em; }
      @media (min-width: 768px) {
        .header-compact__icon span {
          display: block; } }

.image {
  position: relative; }
  .image--wide {
    height: 0;
    padding-bottom: 56.25%; }
  .image--short {
    padding-bottom: 80%; }
  .image--square {
    padding-bottom: 100%; }
  .image--tall {
    padding-bottom: 150%; }
  .image__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .image__file {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.menu-items {
  display: flex;
  flex-wrap: wrap; }
  .menu-items__item {
    display: flex;
    width: 100%;
    margin-bottom: .25em; }
    @media (min-width: 768px) {
      .menu-items__item {
        margin-bottom: 0;
        width: auto;
        display: inline-flex;
        flex-shrink: 1; } }
    .menu-items__item--circle:before {
      content: '';
      display: block;
      border: 1px solid var(--text-color);
      align-self: center;
      border-radius: 50%;
      transition: background .1s;
      background: transparent;
      width: .5em;
      height: .5em;
      margin-bottom: .25em;
      margin-right: .3em; }
    .menu-items__item--circle:hover:before {
      background: var(--text-color); }
  .menu-items__index {
    margin-left: .3em; }

.menu {
  position: fixed;
  top: var(--page-pad-top);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform .2s;
  overflow-y: scroll;
  overflow-x: hidden; }
  .menu--open {
    transform: none; }

.question-answer__answer p:first-of-type {
  display: inline;
  padding-bottom: 1em; }
  .question-answer__answer p:first-of-type:after {
    content: '';
    display: block;
    height: 1em;
    width: 100%; }

.news-item__text {
  width: calc(100% - 1em); }
  @media (min-width: 768px) {
    .news-item__text {
      display: flex;
      justify-content: space-between; } }

.news-item__date {
  display: block; }
  @media (min-width: 768px) {
    .news-item__date {
      display: flex; } }

.news-item:hover .news-item__arrow {
  opacity: 0; }

.news-item__arrow {
  width: 0.5em; }

.pagination__arrow {
  width: 0.35em;
  margin-bottom: 0.1em; }
  .pagination__arrow--reverse {
    transform: rotate(180deg); }

:root {
  --panel-width: 100vw; }
  @media (min-width: 768px) {
    :root {
      --panel-width: calc( 100vw - var( --gutter ) * 3 )
    ; } }
  @media (min-width: 1024px) {
    :root {
      --panel-width: calc( 100vw * 11/12 )
    ; } }

.panels {
  min-height: 100vh; }
  .panels--one {
    width: 100vw; }
  .panels--two {
    width: calc( var( --panel-width ) * 2); }
  .panels__headers {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: transform .2s; }
    .panels--two .panels__headers {
      width: calc( var( --panel-width ) * 2); }
    .panels__headers--right {
      transform: translateX(calc( var( --panel-width ) * -2 + 100vw)); }
  .panels__header {
    width: 100%; }
    .panels--two .panels__header {
      width: var(--panel-width); }
    .panels__header--inactive {
      cursor: pointer; }
      .panels__header--inactive > * {
        pointer-events: none; }
  .panels__pages {
    transition: transform .2s;
    display: flex;
    height: 100%; }
    .panels__pages--right {
      transform: translateX(calc( var( --panel-width ) * -2 + 100vw)); }
  .panels__page {
    width: 100%;
    height: 100%;
    padding-top: var(--page-pad-top); }
    .panels--two .panels__page {
      width: var(--panel-width); }
    .panels__page--inactive {
      cursor: pointer; }
      .panels__page--inactive > * {
        pointer-events: none; }

.product-footer {
  border-top: 1px solid var(--text-color); }
  .product-footer__item:hover .product-footer__link:before {
    background-color: var(--text-color); }
  .product-footer__item:hover .product-footer__arrow {
    display: block; }
  .product-footer__link:before {
    content: '';
    display: inline-block;
    border: 1px solid var(--text-color);
    align-self: center;
    border-radius: 50%;
    transition: background .1s;
    background: transparent;
    width: 0.8em;
    height: 0.8em;
    margin-bottom: -.1em;
    margin-right: .5em; }
  .product-footer__arrow {
    width: 0.5em;
    display: inline;
    margin-bottom: .3em;
    display: none; }
