@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graebenbach";
  src: url("fonts/Graebenbach-BoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graebenbach";
  src: url("/fonts/Graebenbach-Black.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graebenbach";
  src: url("/fonts/Graebenbach-BlackItalic.otf");
  font-weight: 700;
  font-style: italic;
}