.more {
    &__items {
        transition: height 1s;
        overflow: hidden;
    }
    &__next {
        @keyframes pulse {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        &--loading {
            animation: pulse .75s linear infinite alternate;
            pointer-events: none;
        }
        &--disabled {
            pointer-events: none;
            opacity: 0;
        }
    }
}