{% set items = items ?? [] %}
{% set next = next ?? null %}

<div class="more">
    <div class="more__items">
        {% block items %}{% endblock %}
    </div>
    {% if next %}
        <div class="grid">
            <div class="s-col-12 x xja s-pad-top-2 m-pad-top-3 s-pad-bottom-2 m-pad-bottom-3">
                <a class="more__next" href="{{ next }}">
                    {% include 'components/button/button' with { label: "More" } only %}
                </a>
            </div>
        </div>
    {% endif %}
</div>