.menu-items {
    display: flex;
    flex-wrap: wrap;
    &__item {
        display: flex;
        width: 100%;
        margin-bottom: .25em;
        span {
            white-space: nowrap;
        }
        @include medium {
            margin-bottom: 0;
            width: auto;
            display: inline-flex;
            flex-shrink: 1;
        }
        &--circle {
            &:before {
                content: '';
                display: block;
                @include border;
                align-self: center;
                border-radius: 50%;
                transition: background .1s;
                background: transparent;
                width: .4em;
                height: .4em;
                margin-bottom: 0em;
                margin-right: .25em;
                flex-shrink: 0;
            }
            &:hover:before {
                // background: var( --text-color );
                @include text-color-property('background');
            }
        }
    }
    &__index {
        margin-left: .3em;
    }
}