<div class="grid s-pad-bottom-2">
    <div class="s-col-12 m-col-6 s-pad-bottom-half">
        {% if authorInitials %}
        <span class="text-s">{{ authorInitials }}.</span>
        {% endif %}
        <span class="text-l">{{ block.question }}</span>
    </div>
    <div class="s-col-12 m-col-6 question-answer__answer redactor">
        {% if intervieweeInitials %}
        <span class="text-s">{{ intervieweeInitials }}.</span>
        {% endif %}

        {{ block.answer }}
    </div>
</div>