<div class="holding">
    <div class="holding__enter">
        <a class="holding__enter-button" href="#">ENTER</a>
    </div>
    <div class="holding__intro">
        <div class="holding__center">
            <div class="holding__logo">
                {% include 'components/logo/logo' %}
            </div>
            <div class="holding__play-button button text-l">
                Play
            </div>
        </div>
    </div>
    <div class="holding__video">
        <video id="video">
            <source src="{{ video.url }}" type="video/mp4" controls="controls">
        </video>
    </div>
</div>