<div class="grid s-gap-top-4">
    <div class="s-col-12 m-col-8 s-pad-bottom-half">
        <h2 class="text-xl">{{ entry.title }}</h2>
    </div>
</div>

<div class="grid">
    <div class="s-col-6 s-pad-bottom-1">
        {% set category = entry.category.one() %}
        
        {% if category %}
                <span class="circle">{{ category.title }}</span>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="s-col-12 m-col-2 text-l s-pad-bottom-2">
        {% include 'components/button/button' with { href: entry.url, icon: 'arrow' } %}
    </div>
</div>