{% set images = images ?? [] %}

<div class="grid s-pad-bottom-2 m-pad-bottom-4">
    {% switch images | length %}
        {% case 1 %}
            <div class="s-col-12 m-col-10 m-off-2">
                {% include 'components/image-with-caption/image-with-caption' with {
                    image: images[ 0 ],
                    caption: images[ 0 ].caption,
                    ratio: 4/5
                } only %}
            </div>
        {% case 2 %}
            <div class="s-col-6 m-col-5 m-off-1">
                {% include 'components/image-with-caption/image-with-caption' with {
                    image: images[ 0 ],
                    caption: images[ 0 ].caption,
                    ratio: 3/2
                } only %}
            </div>
            <div class="s-col-6 m-col-5 s-pad-top-2 m-pad-top-3 l-pad-top-5">
                {% include 'components/image-with-caption/image-with-caption' with {
                    image: images[ 1 ],
                    caption: images[ 1 ].caption,
                    ratio: 3/2
                } only %}
            </div>
    {% endswitch %}
</div>