.product-footer {
    border-top: 1px solid var( --text-color );
    &__item:hover {
        .product-footer__link:before {
            background-color: var( --text-color );
        }
        .product-footer__arrow {
            display: block;
        }
    }
    &__link:before {
        content: '';
        display: inline-block;
        border: 1px solid var( --text-color );
        align-self: center;
        border-radius: 50%;
        transition: background .1s;
        background: transparent;
        width: 0.8em;
        height: 0.8em;
        margin-bottom: -.1em;
        margin-right: .5em;
    }
    &__arrow {
        width: 0.5em;
        display: inline;
        margin-bottom: .3em;
        display: none;
    }
}