<div class="product-footer text-xl">
    
    {% for product in craft.entries.section('stichd_products').id( 'not ' ~ id ) %}
    
        <a class="grid col-justify s-pad-top-1 product-footer__item" href="{{ product.url }}">
            <span class="product-footer__link s-pad-bottom-half">{{ product.title }}</span>
            <div class="product-footer__arrow">
                {% include 'icons/arrow.svg' %}
            </div>

            {% if not loop.last %}<div class="rule"></div>{% endif %}
        </a>
        
    {% endfor %}

</div>