.product-footer {
    // border-top: 1px solid var( --text-color );
    @include border('border-top');
    &__item:hover {
        .product-footer__link:before {
            // background-color: var( --text-color );
            @include background-color-property('fill');
        }
        .product-footer__arrow {
            display: block;
        }
    }
    &__link:before {
        content: '';
        display: inline-block;
        // border: 1px solid var( --text-color );
        @include border;
        align-self: center;
        border-radius: 50%;
        transition: background .1s;
        background: transparent;
        width: 0.8em;
        height: 0.8em;
        margin-bottom: -.1em;
        margin-right: .5em;
    }
    &__arrow {
        width: 0.5em;
        display: inline;
        display: none;
        margin-top: -.1em;
    }
}