:root {
    --greige: #E7E3D1;
    --blue: #171B2E;
    --text-color: var( --blue );
    --background-color: var( --greige );
}

html {
    color: var( --text-color );
    background-color: var( --background-color );
}

@mixin light {
    background-color: var( --background-color );
    color: var( --text-color );
}

@mixin dark {
    background-color: var( --background-color );
    color: var( --greige );
}

svg *[fill="#000"] {
    transition: fill .2s;
    fill: var( --text-color );
}
svg *[stroke="#000"] {
    transition: stroke .2s;
    stroke: var( --text-color );
}

.bg-dark {
    @include dark;
    &::selection, *::selection {
        @include light;
    }
}

.bg-light {
    @include light;
    &::selection, *::selection {
        @include dark;
    }
}

.bg-invert {
    transition: color .2s, background-color .2s;
    &:hover {
        @include dark;
        &.bg-dark, .bg-dark & {
            @include light;
        }
    }
}

.text-light {
    
}