:root {
    --greige: #E7E3D1;
    --blue: #171B2E;
    // --text-color: var( --blue );
    // --background-color: var( --greige );
}

@mixin bg-light {
    background-color: var( --greige );
    color: var( --blue );
}

@mixin bg-dark {
    background-color: var( --blue );
    color: var( --greige );
}

html {
    @include bg-light;
}

@mixin text-color-property ( $property ) {
    &, &.bg-light, .bg-light & {
        #{ $property }: var( --blue );
    }
    &.bg-dark, .bg-dark & {
        #{ $property }: var( --greige );
    }
}

@mixin background-color-property ( $property ) {
    &, &.bg-light, .bg-light & {
        #{ $property }: var( --greige );
    }
    &.bg-dark, .bg-dark & {
        #{ $property }: var( --blue );
    }
}

svg *[fill="#000"] {
    transition: fill .2s;
    @include text-color-property( 'fill' )
}

svg *[stroke="#000"] {
    transition: stroke .2s;
    @include text-color-property( 'stroke' )
}

.bg-dark {
    @include bg-dark;
    &::selection, *::selection {
        @include bg-light;
    }
}

.bg-light {
    @include bg-light;
    &::selection, & *::selection {
        @include bg-dark;
    }
}

// .bg-invert {
//     transition: color .2s, background-color .2s;
//     &:hover {
//         @include dark;
//         &.bg-dark, .bg-dark & {
//             @include light;
//         }
//     }
// }

// .text-light {
    
// }