html, body {
    min-height: 100%;
}

html {
    // overflow: hidden;
}

body {
    transition: background-color .2s, color .2s;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.db {
    display: block;
}

.df {
    display: flex;
}