:root {
    --gutter: 9px;
    @include medium {
        --gutter: 16px;
    }
    @include large {
        --gutter: 22px;
    }
    @include xlarge {
        --gutter: 26px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    // &--gutter {
        padding-left: calc( var( --gutter ) / 2 );
        padding-right: calc( var( --gutter ) / 2 );
        & > [class*="-col-"] {
            padding-left: calc( var( --gutter ) / 2 );
            padding-right: calc( var( --gutter ) / 2 );
            // & > .grid--gutter {
            //     margin-left: calc( var( --gutter ) * -1 );
            //     margin-right: calc( var( --gutter ) * -1 );
            // }
        }
    // }
    &--fill {
        padding-left: 0;
        padding-right: 0;
        & > [class*="-col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

[class*="-col-"] {
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin columns ( $prefix ) {
    @for $i from 1 through 12 {
        .#{ $prefix }-col-#{ $i } {
            width: 100% * $i / 12;
        }
    }
}

@mixin offsets ( $prefix ) {
    @for $i from 0 through 11 {
        .#{ $prefix }-off-#{ $i } {
            margin-left: 100% * $i / 12;
        }
    }
}

.m-off-1-5 {
    margin-left: 12.5%;
}

@mixin grid ( $prefix ) {
    @include columns ( $prefix );
    @include offsets ( $prefix );
}

@include grid( 's' );
@include medium {
    @include grid( 'm' );
}
@include large {
    @include grid( 'l' );
}
@include xlarge {
    @include grid( 'xl' );
}
@include xxlarge {
    @include grid( 'xxl' );
}

.col-center {
    align-items: center;
}

.col-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.col-justify {
    justify-content: space-between;
}

.col-baseline {
    align-items: baseline;
}