.icon {
    width: .7em;
    height: .7em;
    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        *[fill="#000"]{
            transition: fill .2s;
            // fill: var( --text-color );
            @include text-color-property('fill');
        }
    }
}