{% set heading = heading ?? '' %}
{% set copy = copy ?? '' %}
{% set size = size ?? 'm' %}

<div class="grid s-pad-bottom-half m-pad-bottom-2">
    <div class="s-col-12 m-col-6 s-pad-bottom-half">
        <h2 class="{{ size == 'm' ? 'text-l' : 'text-xl' }}">{{ heading }}</h2>
    </div>
    <div class="s-col-12 m-col-6 {{ size == 'l' ? 'text-l' }}">
        {{ copy }}
    </div>
</div>