{% set heading = heading ?? '' %}
{% set headingSize = headingSize ?? 'l' %}
{% set copy = copy ?? '' %}
{% set copySize = copySize ?? 'm' %}
{% set borderTop = borderTop ?? false %}

<div class="grid s-pad-bottom-half m-pad-bottom-2">
    {% if borderTop %}
        <div class="s-col-12 s-pad-bottom-1">
            <div class="border-top"></div>
        </div>
    {% endif %}
    <div class="s-col-12 m-col-6 s-pad-bottom-half">
        <h2 class="text-{{ headingSize }} text-adjust">{{ heading }}</h2>
    </div>
    <div class="s-col-12 m-col-6 text-{{ copySize }}">
        {{ copy }}
    </div>
</div>