{% import 'macros/macros' as m %}

<div class="{{ m.bem( 'search', { visible: craft.request.firstSegment == 'search' } ) }} bg-light grid">
    <form class="xx" action="{{ siteUrl }}search" method="get">
        <input class="text-xl search__input" type="text" name="q" placeholder="Search" value="{{ craft.request.getQuery('q') }}"></input>
    </form>
    
    <div class="search__close search__close--small" data-toggle-search>
        {% include 'components/header/icon_x.svg' %}
    </div>
    <div class="search__close search__close--medium" data-toggle-search>
        {% include 'components/header/icon_x_circle.svg' %}
    </div>
</div>