{% set borderBottom = borderBottom ?? false %}
<div class="contact contact--1col grid">
    <div class="s-col-12 s-gap-top-1 {{ borderBottom ? 'border-bottom' }}">
        <h2 class="text-xxl s-gap-bottom-half">
            {{ city }}
            {% if subtitle %}
                <div class="text-m">
                    ({{ subtitle }})
                </div>
            {% endif %}
        </h2>
        <div class="x xw s-gap-bottom-half">
            {% for link in links %}
                <div class="s-gap-right-half s-gap-bottom-half">
                    {% include 'components/button/button' with {
                        label: link.text,
                        href: link.url,
                        icon: 'arrow'
                    } only %}
                </div>
            {% endfor %}
            <div class="s-gap-right-half s-gap-bottom-half contact__toggle">
                {% include 'components/button/button' with { label: '...' } only %}
            </div>
            {% for link in extraLinks %}
                <div class="s-gap-right-half s-gap-bottom-half contact__extra">
                    {% include 'components/button/button' with {
                        label: link.text,
                        href: link.url,
                        icon: 'arrow'
                    } only %}
                </div>
            {% endfor %}
        </div>
        <div class="text-m contact__extra">
            {{ address }}
        </div>
    </div>
</div>