<div class="m-hide">
    {% include 'components/contact/contact-1col' with _context only %}
</div>
<div class="s-hide m-show">
    {% include 'components/contact/contact-2col' with _context only %}
</div>