<div class="grid text-s news-filter">
    <div class="s-col-4 s-pad-bottom-half">
        <span>LESS</span> / <span>MORE</span>
    </div>
    <div class="m-col-2">
        <span class="circle circle--small news-filter__category">category </span>
    </div>
    <div class="m-col-2">
        <span class="circle circle--small news-filter__author">author </span>
    </div>
    <div class="m-col-2">
        <span class="circle circle--small news-filter__length">Length</span>
    </div>
    <div class="m-col-2">
        <span class="circle circle--small news-filter__date">DATE</span>
    </div>
</div>