{% set copy = copy ?? null %}
{% set attribution = attribution ?? null %}

<div class="grid s-pad-bottom-4">
    <div class="s-col-12 text-center">
        <div class="text-xxl">{{ copy }}</div>
        {{ attribution }}
    </div>
</div>