{% set copy = copy ?? null %}
{% set size = size ?? 'xxl' %}
{% set attribution = attribution ?? null %}

<div class="grid s-pad-bottom-4">
    <div class="s-col-12 text-center">
        <blockquote class="text-{{ size }} s-pad-bottom-1">{{ copy }}</blockquote>
        <div class="text-s">{{ attribution }}</div>
    </div>
</div>