:root {
    --header-height: 92px;
    --header-height-compact: 52px;
    @include medium {
        --header-height: 105px;
        --header-height-compact: 75px;
    }
    @include large {
        --header-height: 124px;
        --header-height-compact: 94px;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: var( --header-height );
    overflow: hidden;
    transition: background-color .2s;
    padding: 0 var( --gutter );
    background-color: var( --background-color );
    @include medium {
        padding: 0 calc( var( --gutter ) / 2 );
    }
    @include small {
        &__logo {
            order: 2;
        }
        &--toggle {
            .header__icon--search {
                display: none;
                @include medium {
                    display: block;
                }
            }
        }
        &--toggle-right {
            .header__icon--toggle-right {
                order: 3;
            }
            .header__icon--menu {
                order: 1;
            }
        }
        &--toggle-left {
            .header__icon--toggle-left {
                order: 1;
            }
            .header__icon--menu {
                order: 3;
            }
        }
        .header__icon--blank,
        .header__icon--search {
            order: 3;
        }
    }
    &__icon {
        cursor: pointer;
        height: 100%;
        align-items: center;
        margin: 0 var( --gutter );
        @include medium {
            margin: 0 calc( var( --gutter ) / 2 );
        }
        &--small {
            display: flex;
            @include medium {
                display: none;
            }
        }
        &--medium {
            display: none;
            @include medium {
                display: flex;
            }
        }
        &--toggle {
            transition: transform .2s;
            transform-origin: 50% 50%;
            .panels__header--inactive & {
                transform: rotate( 180deg );
            }
        }
    }
    &__logo {
        flex-grow: 1;
        margin: 0 calc( var(--gutter) / 2 );
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 66px;
        top: .07em;
        @include medium {
            font-size: 77px;
            justify-content: flex-start;
        }
        @include large {
            font-size: 88px;
        }
    }
}

.header-compact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: var( --header-height-compact );
    overflow: hidden;
    padding: 0 var( --gutter );
    background-color: var( --background-color );
    @include medium {
        padding: 0 calc( var( --gutter ) / 2 );
    }
    &__icon {
        margin: 0 var( --gutter );
        width: 25px;
        height: 100%;
        align-items: center;
        cursor: pointer;
        @include medium {
            margin: 0 calc( var( --gutter ) / 2 );
            width: 48px;
        }
        svg {
            flex-shrink: 0;
        }
        span {
            top: .15em;
            margin-left: calc( var( --gutter ) / 2 );
        }
        &--small {
            display: flex;
            @include medium {
                display: none;
            }
        }
        &--medium {
            display: none;
            @include medium {
                display: flex;
            }
        }
    }
}