{% set backUrl = siteUrl ~ 'news' %}
{% set category = entry.category.one() %}
{% set author = entry.newsAuthor.one() %}
{% set authorInitials = entry.authorInitials %}
{% set intervieweeInitials = entry.intervieweeInitials %}
{% set thumb = entry.thumbnail.one() %}


{% extends 'stichd/layout' %}
{% block content %}
    
    <div class="grid s-gap-top-1 m-gap-top-2">
        <div class="s-col-12 m-col-8 s-pad-bottom-1">
            <h2 class="text-xl">{{ entry.title }}</h2>
        </div>
    </div>    
    
    <div class="grid">
        <div class="s-col-12 m-col-8 s-pad-bottom-1 m-pad-bottom-2 text-l">
            {% if category %}
                <span class="circle s-pad-right-1">{{ category.title }}</span>
            {% endif %}
            {% if author %}
                <span class="circle">{{ author.title }}</span>
            {% endif %}
        </div>
    </div>
    
    <div class="grid">
        <div class="s-col-12 m-col-9 s-pad-bottom-2">
            {% include '/components/image/image' with { 'asset': thumb, 'ratio': 0.8 } %}
        </div>
    </div>

    {% include 'components/news-blocks/news-blocks' with { blocks: entry.newsBlocks } %}


    <div class="rule"></div>

    {% set query = craft.entries
        .section('stichd_news')
        .id('not ' ~ entry.id)
        .limit(1) %}
    
    {% set prevEntry = clone(query)
        .postDate('<= ' ~ entry.postDate.timestamp)
        .order('postDate desc')
        .one() %}
    
    {% set nextEntry = clone(query)
        .postDate('>= ' ~ entry.postDate.timestamp)
        .order('postDate asc')
        .one() %}



    {% include 'components/pagination/pagination' with { 
        nextText: 'read next', nextHref: nextEntry.url ?? null, 
        prevText: 'previous', prevHref: prevEntry.url ?? null
    } %}

    
{% endblock %}
