{% extends 'stichd/layout' %}
{% block content %}
  
<div class="holding">
    <div class="holding__enter">
        <a href="{{ siteUrl }}home">ENTER</a>
    </div>
    <div class="holding__intro">
        <div class="holding__center">
            <div class="holding__logo">
                {% include 'components/logo/logo.svg' %}
            </div>
            <div class="play-button button text-l">
                Play
            </div>
        </div>
    </div>
    <div class="holding__video">
        <video id="video">
            {% set video = entry.video.one() %}
            {% if video | length %}
            <source src="{{video.url}}" type="video/mp4" controls="controls">
            {% endif %}
        </video>
    </div>
</div>

    
  
{% endblock %}
