{% extends 'stichd/layout' %}

{% set latestNews %}
    {% for entry in craft.entries.section( 'stichd_news' ).limit( 1 ).all %}
        {% include 'components/home/home-section-one-image' with {
            id: entry.id,
            heading: "Latest news",
            body: "<p>#{ entry.title }</p>",
            textSize: 'l',
            link: entry.url,
            image: entry.thumbnail | length ? entry.thumbnail.one : null
        } only %}
    {% endfor %}
{% endset %}

{% block content %}
    <div class="db s-pad-top-1 l-pad-top-2" data-panel-section-id="intro">
        <div class="grid">
            <div class="s-col-12 s-gap-bottom-2 text-xl">
                {{ entry.introSimple }}
                {% include 'components/button/button' with { icon: 'arrow', href: siteUrl ~ 'about-us' } %}
            </div>
        </div>
        {% include 'components/home/home-images' with { images: entry.introImagesSimple.all } only %}
    </div>
    {% include 'components/home/home-sections' with {
        sections: entry.homeSectionsSimple.all,
        textSize: 'l'
    } only %}
    {{ latestNews }}
{% endblock %}

{% block content_complex %}
    <div class="db s-pad-top-1 l-pad-top-2" data-panel-section-id="intro">
        <div class="grid">
            <div class="s-col-12 m-col-8 s-gap-bottom-2 text-m">
                {{ entry.introComplex }}
                {% include 'components/button/button' with { icon: 'arrow', href: siteUrl ~ 'about-us' } %}
            </div>
        </div>
        {% include 'components/home/home-images' with { images: entry.introImagesComplex.all } only %}
    </div>
    {% include 'components/home/home-sections' with {
        sections: entry.homeSectionsComplex.all,
        textSize: 'm'
    } only %}
    {{ latestNews }}
{% endblock %}