{% extends 'stichd/layout' %}

{% set newsEntry = craft.entries
    .section( 'stichd_news' )
    .limit( 1 )
    .one %}
    
{% set newsSection = newsEntry == null
    ? null 
    : {
        id: 'news',
        heading: 'Latest news',
        body: "<p>#{ newsEntry.title }</p>",
        textSize: 'l',
        link: newsEntry.url,
        images: newsEntry.thumbnail
    }
%}

{% block content %}
    {% include 'components/home/home' with {
        intro: {
            text: entry.introSimple,
            images: entry.introImagesSimple,
            link: siteUrl ~ 'about-us',
            size: 'xl'
        },
        sections: entry.homeSectionsSimple
            | map( s => s | merge({
                textSize: 'l',
                link: s.entry | length ? s.entry.one.url
            }))
            | merge( newsSection ? [ newsSection ] : [] )
    } only %}
{% endblock %}
{% block content_complex %}
    {% include 'components/home/home' with {
        intro: {
            text: entry.introComplex,
            images: entry.introImagesComplex,
            link: siteUrl ~ 'about-us',
            size: 'm'
        },
        sections: entry.homeSectionsComplex
            | map( s => s | merge({
                textSize: 'm',
                link: s.entry | length ? s.entry.one.url
            }))
            | merge( newsSection ? [ newsSection ] : [] )
    } only %}
{% endblock %}