{% import 'macros/macros' as m %}
{% set dark = craft.request.getQuery('complex') ?? false %}
{% extends 'stichd/layout' %}
{% block content %}
    
    {% set complex = craft.request.getQuery('complex') ?? 0 %}
    {% set order = complex and craft.request.getQuery('order') ? craft.request.getQuery('order') : 'date' %}
    {% set dir = complex and craft.request.getQuery('dir') ? craft.request.getQuery('dir') : 'desc' %}
    {% set entries = craft.entries().section('stichd_news').limit( 10 ) %}
    {% switch order %}
        {% case 'category' %}
            {% set entries = entries.orderBy( "category #{ dir }" ) %}
        {% case 'author' %}
            {% set entries = entries.orderBy( "newsAuthor #{ dir }" ) %}
        {% case 'length' %}
            {% set entries = entries.orderBy( "wordCount #{ dir }" ) %}
        {% case 'date' %}
            {% set entries = entries.orderBy( "postDate #{ dir }" ) %}
    {% endswitch %}
    
    {% paginate entries as pageInfo, pageEntries %}
    
    {% set showLatest = pageInfo.currentPage == 1 and order == 'date'  %}
    
    <div class="{{ m.bem( 'news', { complex: complex } ) }} s-pad-top-4">
        
        {% if showLatest and pageEntries | length %}
            {% set latest = pageEntries[ 0 ] %}
            {% include 'components/news-item-featured/news-item-featured' with {
                title: latest.title,
                url: latest.url,
                info: [ 'Hot off the loom!' ]
            } only %}
        {% endif %}
        
        {% include 'components/news-filter/news-filter' with { complex: complex, order: order, dir: dir } only %}
        <div class="rule"></div>
    
        {% for entry in pageEntries | slice( showLatest ? 1 : 0 ) %}
            {% include 'components/news-item/news-item' with {
                title: entry.title,
                url: entry.url,
                date: entry.postDate,
                category: entry.category,
                author: entry.newsAuthor,
                wordCount: entry.wordCount
            } only %}
        {% endfor %}
        
        {% include 'components/pagination/pagination' with {
            nextText: 'next',
            nextHref: pageInfo.nextUrl
                ? "#{ pageInfo.nextUrl }?#{ craft.request.getQueryStringWithoutPath }"
                : null,
            prevText: 'prev',
            prevHref: pageInfo.prevUrl
                ? "#{ pageInfo.prevUrl }?#{ craft.request.getQueryStringWithoutPath }"
                : null
        } only %}
        
    </div>

{% endblock %}


