{% extends 'stichd/layout' %}
{% block content %}

    <h1 class="hidden">{{ entry.title }}</h1>

    <div class="s-pad-top-1">
        {% include 'components/blocks/blocks' with { blocks: entry.blocks.all } only %}
        {% for product in craft.entries({ section: 'stichd_products' }).all %}
            {% include 'components/process-section/process-section' with {
                title: product.title,
                link: product.url,
                image: product.thumbnail | length ? product.thumbnail.one,
            } only %}
        {% endfor %}
    </div>
{% endblock %}
