.button {
    display: inline-flex;
    align-items: center;
    border-radius: 100vw;
    border-width: 2px;
    border-style: solid;
    @include text-color-property( 'border-color' );
    padding: .5em .7em .5em .7em;
    background: transparent;
    transition: background-color .1s, color .1s, border-color .1s;
    cursor: pointer;
    svg {
        width: .75em;
        @include large {
            width: auto;
        }
    }
    &__label + .icon {
        margin-left: .25em;
        @include large {
            margin-left: .5em;
        }
        @include large {
            margin-left: .4em;
        }
    }
    svg *[fill="#000"] {
        transition: fill .1s;
        // fill: var( --text-color );
    }
    svg *[stroke="#000"] {
        transition: stroke .1s;
        // stroke: var( --text-color );
    }
    &:hover, a:hover &, &--pressed {
        @include bg-dark;
        // background: var( --text-color );
        // color: var( --background-color );
        svg *[fill="#000"] {
            @include background-color-property('fill');
        }
        svg *[stroke="#000"] {
            @include background-color-property('stroke');
        }
        .bg-dark & {
            @include bg-light;
        }
    }
}