.comparison {
    &__bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    // &__label-right {
    //     position: absolute;
    //     right: 0;
        
    // }
}