{% set data = data ?? [] %}

<div class="grid s-pad-bottom-3 l-pad-bottom-5">
    <div class="s-col-12">
        {% for item in data %}
            <div class="s-gap-bottom-half s-pad-1 border text-xl x xjb">
                <div class="lh1">
                    {{ item.leftLabel }}
                </div>
                <div class="lh1">
                    {{ item.rightLabel }}
                </div>
                <div class="fill bg-dark x xjb s-pad-1" style="clip-path: inset( 0 {{ 100 - item.percentage }}% 0 0 )">
                    <div class="lh1">
                        {{ item.leftLabel }}
                    </div>
                    <div class="lh1">
                        {{ item.rightLabel }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
