.menu {
    position: fixed;
    top: var( --page-pad-top );
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    transform: translateY( -100% );
    transition: transform .2s;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &--open {
        transform: none;
    }
}