{% set backUrl = siteUrl %}
{% extends 'work-at-stichd/layout' %}
{% block content %}

    <h1 class="hidden">404</h1>

    <div class="grid s-pad-top-2">
        <div class="s-col-12 text-l">
    
            {{ globals.errorMessage }}
    
        </div>
    </div>
{% endblock %}