{% set backUrl = backUrl ?? null %}
{% set applyUrl = applyUrl ?? null %}
{% set logo %}
    <a class="header__logo s-show-f m-hide" href="{{ siteUrl }}">
        {% include 'components/logo/logo' %}
    </a>
    <a class="header__logo s-hide m-show-f" href="{{ siteUrl }}">
        {% include 'components/logo/logo-both' %}
    </a>
{% endset %}
{% include 'components/layout/layout' with {
    header: {
        logo: logo,
        homeUrl: siteUrl,
        backUrl: backUrl,
        apply: applyUrl,
        search: true
    },
    menu: {
        primary: [
            { name: 'Vacancies', url: siteUrl ~ 'vacancies' },
            { name: 'Culture', url: siteUrl ~ 'culture' },
            { name: 'People', url: siteUrl ~ 'people' },
            { name: 'Teams', url: siteUrl ~ 'teams' },
            { name: 'Locations', url: siteUrl ~ 'locations' },
            { name: 'Editorial', url: siteUrl ~ 'editorial' },
            { name: 'Join us', url: siteUrl ~ 'join-us' },
            { name: 'stichd.com', url: craft.app.sites.getSiteByHandle('stichd').getBaseUrl() }
        ],
        secondary: globals.social
    },
    content: block('content'),
    content_complex: block('content_complex') ?? null,
    footer: {
        primary: [
            { name: 'email', url: "mailto:#{ globals.workAtStichdEmail }" },
            { name: 'call', url: "tel:#{ globals.workAtStichdPhone }" },
            { name: 'apply', url: "mailto:#{ globals.workAtStichdEmail }?#{ { subject: globals.applyEmailSubject, body: globals.applyEmailBody } | url_encode }"  },
            { name: 'stichd.com', url: craft.app.sites.getSiteByHandle('stichd').getBaseUrl() }
        ],
        secondary: globals.social,
        tertiary: [
            globals.workAtStichdPrivacyPolicy | length ? { name: "Privacy", url: globals.workAtStichdPrivacyPolicy.one.url },
            globals.workAtStichdTermsAndConditions | length ? { name: "T&Cs", url: globals.workAtStichdTermsAndConditions.one.url },
            globals.workAtStichdCookiePolicy | length ? { name: "Cookies", url: globals.workAtStichdCookiePolicy.one.url },
            { name: 'Join Us', url: siteUrl ~ 'join-us' },
            { name: 'Contact', url: siteUrl ~ 'join-us' },
        ] | filter( _ => _ )
    },
    googleTagManagerID: 'GTM-NQWJBR9',
    seo: entry.seo
} only %}