{% set backUrl = backUrl ?? null %}
{% set applyUrl = applyUrl ?? null %}
{% set logo %}
    <div class="s-hide m-show">
        {% include 'components/logo/logo-work.svg' %}
    </div>
    {% include 'components/logo/logo.svg' %}
{% endset %}
{% include 'components/layout/layout' with {
    header: {
        logo: logo,
        homeUrl: siteUrl,
        backUrl: backUrl,
        apply: applyUrl,
        search: true
    },
    menu: {
        primary: [
            { name: 'Vacancies', url: siteUrl ~ 'vacancies' },
            { name: 'Culture', url: siteUrl ~ 'culture' },
            { name: 'People', url: siteUrl ~ 'people' },
            { name: 'Teams', url: siteUrl ~ 'teams' },
            { name: 'Locations', url: siteUrl ~ 'locations' },
            { name: 'Editorial', url: siteUrl ~ 'editorial' },
            { name: 'Join us', url: siteUrl ~ 'join-us' },
            { name: 'stichd.com', url: craft.app.sites.getSiteByHandle('stichd').getBaseUrl() }
        ],
        secondary: globals.social
    },
    content: block('content'),
    content_complex: block('content_complex') ?? null,
    footer: {
        primary: [
            { name: 'email', url: "mailto:#{ globals.email }" },
            { name: 'call', url: "tel:#{ globals.phone }" },
            { name: 'apply', url: "mailto:#{ globals.email }?#{ { subject: globals.applyEmailSubject, body: globals.applyEmailBody } | url_encode }"  },
            { name: 'stichd.com', url: craft.app.sites.getSiteByHandle('stichd').getBaseUrl() }
        ],
        secondary: globals.social,
        tertiary: [
            globals.privacyPolicy | length ? { name: "Privacy", url: globals.privacyPolicy.one.url },
            globals.termsAndConditions | length ? { name: "T&Cs", url: globals.termsAndConditions.one.url },
            globals.cookiePolicy | length ? { name: "Cookies", url: globals.cookiePolicy.one.url },
            { name: 'Join Us', url: siteUrl ~ 'join-us' },
            { name: 'Contact', url: "#{ siteUrl }contact" },
        ] | filter( _ => _ )
    }
} only %}