{% extends 'work-at-stichd/layout' %}
{% block content %}
    <div class="s-gap-top-1 l-gap-top-2 s-gap-bottom-3 l-gap-bottom-6">
        {% include 'components/blocks/blocks' with { blocks: entry.blocks } only %}
        {% for location in entry.locations %}
            {% include 'components/location/location' with {
                title: location.locationTitle,
                subtitle: location.subtitle,
                description: location.description,
                mapURL: location.mapUrl,
                images: location.images,
                index: loop.index
            } only %}
        {% endfor %}
    </div>
{% endblock %}