{% extends 'work-at-stichd/layout' %}
{% block content %}
    
    {% set query = craft.entries
        .section( 'workAtStichd_jobs' )
        .limit( null )
        .search( craft.app.request.getQueryParam( 'q' ) ) %}
    {% paginate query as pageInfo, pageEntries %}
    
    <div class="search-results">
        {% for job in pageEntries %}
            {% include 'components/job-row/job-row' with {
                title: job.title,
                url: job.url,
                qualities: job.jobQualities | map( _ => _.text ),
                location: job.jobLocation
            } only %}
        {% else %}
            <div class="grid s-pad-top-2">
                <div class="s-col-12 text-xl">
                    No results
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}