{% extends 'work-at-stichd/layout' %}
{% block content %}
    <div class="s-gap-top-1 l-gap-top-2 s-gap-bottom-3 l-gap-bottom-6">
        {% include 'components/blocks/blocks' with { blocks: entry.blocks } only %}
        {% for team in entry.teams %}
            {% include 'components/team/team' with {
                title: team.teamTitle,
                description: team.description,
                index: loop.index,
                count: entry.teams | length
            } only %}
        {% endfor %}
    </div>
{% endblock %}