:root {
    --data-grid-item-height: 4em;
    @include large {
        --data-grid-item-height: 6em;
    }
}

.data-grid {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        --data-grid-item-height: 4em;
        @include large {
            --data-grid-item-height: 6em;
        }
        height: var( --data-grid-item-height );
        &--data-grid-item-height-2 {
            height: calc( var( --data-grid-item-height ) * 2 );
        }
        &--data-grid-item-height-3 {
            height: calc( var( --data-grid-item-height ) * 3 );
        }
        @include medium {
            width: 25%;
        }
        @include large {
            width: 20%;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: 0;
            right: 0;
            // border: 1px solid var( --text-color );
            @include border;
        }
    }
    &__item-percentage {
        display: flex;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        transition: opacity .1s;
        cursor: pointer;
        &--visible {
            opacity: 1;
        }
    }
}