.data-grid {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        --height: 4em;
        @include large {
            --height: 6em;
        }
        height: var( --height );
        &--height-2 {
            height: calc( var( --height ) * 2 );
        }
        &--height-3 {
            height: calc( var( --height ) * 3 );
        }
        @include medium {
            width: 25%;
        }
        @include large {
            width: 20%;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: 0;
            right: 0;
            border: 1px solid var( --text-color );
        }
    }
    &__item-percentage {
        display: flex;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        transition: opacity .1s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}