{% set leftCopy = leftCopy ?? null %}
{% set leftSize = leftSize ?? null %}
{% set rightCopy = rightCopy ?? null %}
{% set rightSize = rightSize ?? null %}
{% set buttonLink = buttonLink ?? null %}

<div class="overflow grid s-pad-bottom-2 m-pad-bottom-4">
    <div class="overflow__item m-col-8 s-col-12 {{ leftSize }} s-gap-bottom-half">
       {{ leftCopy }} 
    </div>
    <div class="overflow__item m-col-8 s-col-12 {{ rightSize }} overflow__item--right">
        {{ rightCopy }}
       
        {% if buttonLink %}
            {% include 'components/button/button' with {
                label: 'Apply',
                href: buttonLink,
                target: "_blank"
            } only %}
        {% endif %}        
    </div>
</div>
