svg.logo {
    &--large {
        display: none;
        @include medium {
            display: block;
        }
    }
    &--small {
        margin: 0 auto;
        @include medium {
            display: none;
        }
    }
}