svg.logo {
    &--large {
        display: none;
        @include large {
            display: block;
        }
    }
    &--small {
        @include large {
            display: none;
        }
    }
}