{% set image = image ?? null %}
{% set magnifiedImage = magnifiedImage ?? null %}
{% set ratio = ratio ?? true %}

<div class="grid s-pad-bottom-1 m-pad-bottom-6">
    <div class="s-col-12">
        {% include 'components/magnifier/magnifier' with {
            image: image,
            magnifiedImage: magnifiedImage,
            ratio: ratio
        } only %}
    </div>
</div>