<div class="pagination s-pad-bottom-6 text-xxl">
    
    {% if nextHref %}
    <a class="grid col-justify s-pad-top-1 s-pad-bottom-half text-stroke" href="{{ nextHref }}">
        <span class="text-stroke">{{ nextText }}</span>
        <img class="pagination__arrow" src="/components/button/arrow.svg" />
    </a>
    {% endif %}

    {% if nextHref and prevHref %}
    <div class="grid">    
        <div class="rule"></div>
    </div>
    {% endif %}
    
    {% if prevHref %}
    <a class="grid col-justify s-pad-top-1 s-pad-bottom-half" href="{{ prevHref }}">
        <span class="text-stroke">{{ prevText }}</span>
        <img class="pagination__arrow pagination__arrow--reverse" src="/components/button/arrow.svg" />
    </a>
    {% endif %}
</div>

