:root {
    --magnifier-radius: 10vw;
}

.magnifier {
    --radius: 10vw;
    &__image {
        position: absolute;
        top: calc( var( --magnifier-radius ) * -1 );
        left: calc( var( --magnifier-radius ) * -1 );
        width: calc( 100% + var( --magnifier-radius ) * 2 );
        height: calc( 100% + var( --magnifier-radius ) * 2 );
        object-fit: cover;
        pointer-events: none;
        clip-path: circle(
            var( --magnifier-radius ) at
            calc( var( --magnifier-radius ) + var( --cx, 50% ) )
            calc( var( --magnifier-radius ) + var( --cy, 50% ) )
        );
        -webkit-clip-path: circle(
            var( --magnifier-radius ) at
            calc( var( --magnifier-radius ) + var( --cx, 50% ) )
            calc( var( --magnifier-radius ) + var( --cy, 50% ) )
        );
        transition: opacity .1s;
        opacity: 0;
        .magnifier:hover & {
            opacity: 1;
        }
    }
}