.horizontal-bar-chart-rounded {
    &__bar-left {
        border-radius: 100vw 0 0 100vw;
        white-space: nowrap;
        z-index: 10;
        width: 6em;
        @include medium {
            width: 8em;
        }
    }
    &__bar {
        border-radius: 0 100vw 100vw 0;
    }
    &__percentage {
        border-radius: 100vw;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 20;
    }
}