{% set data = data ?? [] %}

{% set max = max( data | map( _ => _.percentage ) ) %}

<div class="grid">
    <div class="s-col-12">
        <div class="horizontal-bar-chart-rounded">
            {% for item in data %}
                <div
                    class="horizontal-bar-chart-rounded__bar text-m s-pad-half s-pad-1 m-pad-2 bg-dark s-gap-bottom-half m-gap-bottom-1"
                    style="width: {{ ( item.percentage / max ) * 100 }}%"
                >
                    <div class="lh1">{{ item.label }}</div>
                    <div class="horizontal-bar-chart-rounded__percentage border s-pad-1 m-pad-2 bg-light">
                        <div class="lh1">{{ item.percentage }}%</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
