:root {
    --panel-peek: 0;
    --panel-width: calc( 100vw - var( --panel-peek ) );
    @include medium {
        --panel-peek: calc( var( --gutter ) * 2 + 48px );
        --panel-width: calc( 100vw - var( --panel-peek ) );
    }
    @include large {
        --panel-peek: calc( var( --gutter ) * 2 + 48px );
        --panel-width: calc( 100vw - var( --panel-peek ) );
    }
    @include xlarge {
        --panel-peek: calc( var( --gutter ) * 2 + 48px );
        --panel-width: calc( 100vw - var( --panel-peek ) );
    }
    @include xxlarge {
        --panel-peek: calc( var( --gutter ) * 2 + 48px );
        --panel-width: calc( 100vw - var( --panel-peek ) );
    }
}

.panels {
    min-height: 100vh;
    &--one {
        width: 100%;
    }
    &--two {
        width: calc( var( --panel-width ) * 2 );
        max-width: calc( var( --panel-width ) * 2 );
    }
    &__headers {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: transform .4s;
        .panels--two & {
            width: calc( var( --panel-width ) * 2 );
        }
        &--right {
            // seperate transforms for IE (no mixed-unit calc)
            transform:
                translateX( calc( var( --panel-peek ) * 2 ) )
                translateX( -100vw );
        }
    }
    &__header {
        width: 100%;
        .panels--two & {
            width: var( --panel-width );
        }
        transition: background-color .2s;
        body.bg-dark & {
            @include bg-dark;
        }
        &--inactive {
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
        }
    }
    &__pages {
        transition: transform .4s;
        display: flex;
        height: 100%;
        &--right {
            // seperate transforms for IE (no mixed-unit calc)
            transform:
                translateX( calc( var( --panel-peek ) * 2 ) )
                translateX( -100vw );
        }
    }
    &__page {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .panels--with-full-header & {
            padding-top: var( --header-height )
        }
        .panels--with-compact-header & {
            padding-top: var( --header-height-compact )
        }
        .panels--two & {
            width: var( --panel-width );
        }
        &--inactive {
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
        }
    }
}