{% import 'macros/macros' as m %}

{% set header = header ?? {} %}
{% set menu = menu ?? {} %}
{% set content = content ?? '' %}
{% set content_complex = content_complex ?? null %}
{% set footer = footer ?? {} %}

{% set isTwo = content_complex is not null %}

<div
    class="{{ m.bem( 'panels', { one: not isTwo, two: isTwo }) }}"
    style="--page-pad-top: var({{
        header.backUrl is defined and header.backUrl is not null
            ? '--header-height-compact'
            : '--header-height'
    }})"
>
    <div class="panels__headers">
        {% if not isTwo %}
            <div class="panels__header">
                {% include 'components/header/header' with header only %}
            </div>
        {% else %}
            <div class="panels__header">
                {% include 'components/header/header' with header | merge({ toggleTo: 'right' }) only %}
            </div>
            <div class="panels__header panels__header--inactive bg-dark">
                {% include 'components/header/header' with header | merge({ toggleTo: 'left' }) only %}
            </div>
        {% endif %}
    </div>
    {% include 'components/menu/menu' with menu only %}
    <div class="panels__pages">
        <div class="panels__page">
            {{ content | raw }}
            {% include 'components/footer/footer' with footer only %}
        </div>
        {% if isTwo %}
            <div class="panels__page panels__page--inactive bg-dark">
                {{ content_complex | raw }}
                {% include 'components/footer/footer' with footer | merge({ bg: 'light' }) only %}
            </div>
        {% endif %}
    </div>
</div>