{% set image = image ?? null %}
{% set caption = caption ?? null %}
{% set ratio = ratio ?? true %}

<div class="grid s-pad-bottom-1 m-pad-bottom-6">
    <div class="s-col-12">
        {% include '/components/image/image' with { asset: image, ratio: ratio } only %}
        {% if caption %}
            {% include '/components/caption/caption' with { text: caption } only %}
        {% endif %}
    </div>
</div>